/**
 * @package iCat
 * @subpackage Edi header
 */

/** @section Logo */

.header_logo, .header_logo a {
    width: 118px;
    height: 24px;
}

.header_logo {
    left: 30px;
    top: 17px;
    background: url('../Images/Logo.png') no-repeat;
}

.loginMode .header_logo {
    left: 17px;
    top: 27px;
}