/**
 * @package Alko.Kontur
 * @subpackage Common
 */

/** @section AlkoPage */

.alkoPage {
    position: relative;
    min-height: 100%;
    min-width: 1050px;
    background-color: #c9d8e6;
}

.alkoPage__width {
    min-width: 1050px;
    max-width: 1240px;
}
.alkoPage_state_infinity .alkoPage__width {
    max-width: none;
}

.alkoPage__top, .alkoPage__bottom {
    position: absolute;
    left: 0;
    width: 100%;
    background-image: url("alkoPage.png");
    background-repeat: repeat-x;
}

.alkoPage__top {
    top: 0;
    height: 911px;
    max-height: 100%;
    background-position: 0 0;
}

.alkoPage__bottom {
    bottom: 0;
    height: 206px;
    background-position: 0 -950px;
}

.alkoPage__content {
    position: relative;
}