@using System
@using System.Web
@using SKBKontur.Catalogue.Objects
@using SKBKontur.Catalogue.RemoteTaskQueue.ElasticMonitoring.MvcControllers
@using SKBKontur.Catalogue.RemoteTaskQueue.ElasticMonitoring.MvcControllers.Controllers.ObjectTreeViewBuilding
@using SKBKontur.Catalogue.RemoteTaskQueue.ElasticMonitoring.MvcControllers.Controllers.ObjectTreeViewBuilding.Rendering
@model SKBKontur.Catalogue.RemoteTaskQueue.ElasticMonitoring.MvcControllers.Models.TaskNotFoundModel
@{
    Layout = "./_TasksLayout.cshtml";
}
@section Title { Задача не найдена }

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>Задача <b>@Model.TaskId</b> не найдена.</h2>
                <h3>Возможно, указан неправильный идентификатор, либо истекло время жизни задачи.</h3>
            </div>
        </div>
    </div>
</div>