@using SKBKontur.Catalogue.RemoteTaskQueue.TaskMonitoringViewer.Models.Paging
@model PaginatorPageLinkModelData

<li class="c-paginator-pages-page">
    <a id="Paginator_Page_Dots" class="c-paginator-pages-page-link inlineBlock" href="@Model.GetUrl(Url)">...</a>
</li>
