@using SKBKontur.Catalogue.RemoteTaskQueue.TaskMonitoringViewer.Models.Paging
@model PaginatorPageLinkModelData
           
@{
    var pageNumber = Model.PageNumber + 1;
    var id = "Paginator_Page_" + pageNumber;
}
<li class="c-paginator-pages-page">
    <a id="@id" class="c-paginator-pages-page-link inlineBlock" href="@Model.GetUrl(Url)">@pageNumber</a>
</li>