@using SKBKontur.Catalogue.RemoteTaskQueue.TaskMonitoringViewer.Models.Paging
@model PaginatorPageLinkModelData

<a id="Paginator_Next" class="c-paginator-shorthands-link c-paginator-shorthands-link_next t-advlink" href="@Model.GetUrl(Url)">
    <span class="c-paginator-shorthands-link-caption">следующая</span>&rarr;
</a>