@using SKBKontur.Catalogue.RemoteTaskQueue.TaskMonitoringViewer.Models.Paging
@model PaginatorPageLinkModelData

<a id="Paginator_Prev" class="c-paginator-shorthands-link c-paginator-shorthands-link_previous t-advlink" href="@Model.GetUrl(Url)">
    &larr;<span class="c-paginator-shorthands-link-caption">предыдущая</span>
</a>