@model dynamic

<div class="modal fade" id="LongActionsBasicDialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="LongActionsBasicDialog_Title"></h4>
            </div>
            <div class="modal-body font-md">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        Success: <span id="LongActionsBasicDialog_Success"></span>
                    </div>
                    <div class="col-lg-10 col-lg-offset-1">
                        Unsuccess: <span id="LongActionsBasicDialog_Unsuccess"></span>
                    </div>
                    <div class="col-lg-10 col-lg-offset-1">
                        Total: <span id="LongActionsBasicDialog_Total"></span>
                    </div>
                </div>
            </div>
            <div class="modal-body font-md text-danger" id="LongActionsBasicDialog_ErrorDescription"></div>
            <div class="modal-footer">
                <button id="LongActionsBasicDialog_CancelButton" type="button" class="btn btn-danger disabled">Cancel</button>
                <button id="LongActionsBasicDialog_CloseButton" type="button" class="btn btn-primary disabled" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
