@model SKBKontur.Catalogue.RemoteTaskQueue.ElasticMonitoring.MvcControllers.Models.TaskSearchConditionsModel
@{
    Layout = "../_TasksLayout.cshtml";
}
@section Title { Список задач }

<div class="container" style="width: 1470px; padding-top: 200px;">

    <div class="row">
        <div class="col-md-12 text-center">
            <div class="page-header">
                <h1 style="font-size: 50px;">
                    <span style="color: #1D70EF;">П</span><span style="color: #D3402B;">о</span><span style="color: #FFB809;">и</span><span style="color: #1D70EF;">с</span><span style="color: #019A57;">к</span>

                    <span style="color: #D3402B;">п</span><span style="color: #1D70EF;">о</span>

                    <span style="color: #D3402B;">з</span><span style="color: #FFB809;">а</span><span style="color: #019A57;">д</span><span style="color: #1D70EF;">а</span><span style="color: #FFB809;">ч</span><span style="color: #D3402B;">а</span><span style="color: #019A57;">м</span>
                </h1>
            </div>        
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @Html.Partial("SearchPanel", Model)
        </div>
    </div>
</div>