@model SKBKontur.Catalogue.RemoteTaskQueue.TaskMonitoringViewer.Models.Primitives.ExceptionInfoHtmlModel

<div id="@Model.Id">
    @{

        var text = Model.ExceptionMessageInfo ?? "";
        var lines = text.Split('\n');
        if(lines.Length != 0)
        {
            <ul class="remoteTaskQueueMonitoring__details__list">
                @foreach(var line in lines)
                {
                    <li class="remoteTaskQueueMonitoring__details__list__item">@line</li>
                }
            </ul>
        }
    }
</div>