@using SKBKontur.Catalogue.RemoteTaskQueue.TaskMonitoringViewer.Models.TaskDetails.TaskData
@model FileDataTaskDataValue
<a href="@Model.GetUrl(Url)" title="Download">@Model.Filename (@Model.FileSize bytes)</a>