@using SKBKontur.Catalogue.Core.Web.RenderingHelpers

<!doctype html>
<html>
    <head>
        @* ReSharper disable Html.PathError *@
        <link rel="shortcut icon" href="/AdminToolsIcon.ico" type="image/x-icon" />
        @* ReSharper restore Html.PathError *@
        <title>Monitor</title>
        @{
            Html.RenderStyle("/SharedBlocks/Common/Reset.css");
            Html.RenderStyle("/SharedBlocks/Monitor/Monitor.css");

            Html.RenderCommonScripts();
            Html.RenderScript("/SharedBlocks/Monitor/MonitorFast.js");
        }
    </head>
    <body>
        <div>Отсчет начат : <span id="start-time">?</span></div>
        <div>Отставание : <span id="from-now">?</span></div>
        <div id="request-timer">Запрошено : <span id="timer">?</span> назад</div>
        <div class="monitor">
            <div class="monitor-now"></div>
            <div class="monitor-graph"></div>
            <div class="monitor-blood"></div>
        </div>
    </body>
</html>