@using SKBKontur.Catalogue.Core.Web.RenderingHelpers
<!doctype html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>@RenderSection("Title")</title>
        @{
            Html.RenderStyle("/Shared/Design/Common/Styles/Reset.css");
            Html.RenderStyle("/Shared/Design/Common/Styles/Typography.css");
            Html.RenderStyle("/Shared/Design/Common/Styles/Common.css");
            //Html.RenderStyle("/Shared/Design/Common/Styles/Page.css");
            Html.RenderStyle("/Shared/Design/Common/Styles/Header.css");
            Html.RenderStyle("/Shared/Design/Common/Styles/Content.css");
            Html.RenderStyle("/Shared/Design/Common/Styles/Footer.css");
            Html.RenderStyle("/Shared/Design/Login/Styles/Login.css");
            Html.RenderStyle("/Shared/Design/Fields/Styles/Fields.css");
            Html.RenderStyle("/Shared/Design/Fields/Styles/Input.css");
            Html.RenderStyle("/Shared/Design/Fields/Styles/Mask.css");
            Html.RenderStyle("/Shared/Design/Fields/Styles/Select.css");
            Html.RenderStyle("/Shared/Design/Fields/Styles/Reference.css");
            Html.RenderStyle("/Shared/Design/Fields/Styles/Array.css");
            Html.RenderStyle("/Shared/Design/Fields/Styles/Checkbox.css");
            Html.RenderStyle("/Shared/Design/Fields/Styles/ExtendedCheckbox.css");
            Html.RenderStyle("/Shared/Design/Fields/Styles/Autocomplete.css");
            Html.RenderStyle("/Shared/Design/Balloon/Styles/Balloon.css");
            Html.RenderStyle("/Shared/Design/Calendar/Styles/Calendar.css");
            Html.RenderStyle("/Shared/Design/List/Styles/List.css");

            Html.RenderStyle("/SharedBlocks/Button/Button.css");
            Html.RenderStyle("/SharedBlocks/Lightbox/Lightbox.css");
            Html.RenderStyle("/SharedBlocks/RadioButton/RadioButton.css");
            Html.RenderStyle("/SharedBlocks/Autocomplete/AutocompleteControl.css");
            Html.RenderStyle("/SharedBlocks/KeyboardNavigation/KeyboardNavigation.css");
            Html.RenderStyle("/SharedBlocks/CertificatesList/CertificatesList.css");
            Html.RenderStyle("/SharedBlocks/KonturToolboxInstallerLightbox/KonturToolboxInstallerLightbox.css");
            Html.RenderStyle("/SharedBlocks/AttachedSignFileLightbox/AttachedSignFileLightbox.css");
            Html.RenderStyle("/SharedBlocks/DragAndDropUpload/DragAndDropUpload.css");
            Html.RenderStyle("/SharedBlocks/BalloonLink/BalloonLink.css");

            Html.RenderStyle("/Shared/Design/RemoteTaskQueueMonitoring/Styles/RemoteTaskQueueMonitoring.css");
            Html.RenderStyle("/Shared/Design/RemoteTaskQueueMonitoring/Styles/Paginator.css");

            Html.RenderScript("/Shared/Scripts/External/Base.js");
            Html.RenderScript("/Shared/Scripts/External/Clone.js");
            Html.RenderScript("/Shared/Scripts/External/JQuery.js");
            Html.RenderScript("/Shared/Scripts/External/JQueryDisableTextSelect.js");
            Html.RenderScript("/Shared/Scripts/External/JQueryEasing.js");
            Html.RenderScript("/Shared/Scripts/External/JQueryAnimation.js");
            Html.RenderScript("/Shared/Scripts/External/JQueryMousewheel.js");
            Html.RenderScript("/Shared/Scripts/External/JQueryJson.js");
            Html.RenderScript("/Shared/Scripts/External/JQuerySimulate.js");
            Html.RenderScript("/Shared/Scripts/External/JQuerySimulateTyping.js");

            Html.RenderScript("/Shared/Scripts/External/underscore.js");
            Html.RenderScript("/Shared/Scripts/Extensions/UnderscoreAddon.js");
            Html.RenderScript("/Shared/Scripts/Extensions/Browser.js");

            Html.RenderScript("/Shared/Scripts/Keyboard/Keyboard.js");
            Html.RenderScript("/Shared/Scripts/Keyboard/KeyboardCollection.js");
            Html.RenderScript("/Shared/Scripts/Keyboard/KeyboardNormalizer.js");
            Html.RenderScript("/Shared/Scripts/Keyboard/KeyboardKeys.js");

            Html.RenderScript("/Shared/Scripts/Expressions/Expression.js");

            Html.RenderAllScriptsFromDirectory("/Shared/Scripts/Autoload");
            Html.RenderAllScriptsFromDirectory("/SharedBlocks/");
        }

        <style type="text/css">
            html {
                height: 100%;
            }

            body {
                position: relative;
                min-height: 100%;
                background: #dce2e6 url('../Images/PageTop.png') repeat-x;
            }

            .page_bg {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 298px;
            }

            .site {
                position: relative;
                margin: 0 auto;
                padding: 0 1px;
                min-width: 998px;
                max-width: 1278px;
            }

            .table_header
            {
                font-size: 2em;
            }

            .table_row
            {
                font-size: 1.5em;
            }

            .first_column
            {
                padding-bottom: 10px;
            }
            
            .filter_name
            {
                width: 190px;
                float: left;
                font-size: 1.167em;
                padding-top: 9px
            }
            
            .filter_object
            {
                overflow: hidden;
            }
            
            .filter_field
            {
                float: left;
                margin: 0 30px 0 0px;
            }
        </style>

        <script type="text/javascript">
            $(document).ready(function() {
                $(".cancelTask").click(function(event) {
                    var _this = this;
                    var res = $(this).hasClass("noConfirmation");
                    if (!res)
                    {
                        res = confirm("Отменить задачу?");
                    }
                    if (res) {
                        $.ajax({
                                async: true,
                                type: "POST",
                                url: $(_this).attr('url'),
                                data: $.toJSON({ x: "x" }),
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                error: function() {
                                    alert("error ajax");
                                },
                                success: function(operationResult) {
                                    if (operationResult.Success) {
                                        if (!_.isUndefined(operationResult.RedirectTo)) {
                                            Redirect.go(operationResult.RedirectTo);
                                        }
                                    } else {
                                        alert(operationResult.ErrorMessage);
                                    }
                                }
                            });
                    }
                });

                $(".rerunTask").click(function(event) {
                    var _this = this;
                    var res = $(this).hasClass("noConfirmation");
                    if (!res)
                    {
                        res = confirm("Отменить задачу?");
                    }
                    if (res) {
                        $.ajax({
                                async: true,
                                type: "POST",
                                url: $(_this).attr('url'),
                                data: $.toJSON({ x: "x" }),
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                error: function() {
                                    alert("error ajax");
                                },
                                success: function(operationResult) {
                                    if (operationResult.Success) {
                                        if (!_.isUndefined(operationResult.RedirectTo)) {
                                            Redirect.go(operationResult.RedirectTo);
                                        }
                                    } else {
                                        alert(operationResult.ErrorMessage);
                                    }
                                }
                            });
                    }
                });
            });

            $(document).ready(function() {
                $(".propertyNameValue").click(function(event) {
                    if ($(this).hasClass("canHide")) {
                        $(this).toggleClass("hideValue");
                    }
                    event.stopPropagation();
                });
            });
        @RenderSection("Scripts")

        </script>
    </head>
    <body class="subform" subform="page">
        @RenderBody()
    </body>
</html>
