@using SKBKontur.Catalogue.Core.Web.RenderingHelpers
<!doctype html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="/AdminToolsIcon.ico" type="image/x-icon" />
        <title>@RenderSection("Title")</title>
        @{
            Html.RenderMetaAttributes();
            Html.RenderSharedStyles();
            Html.RenderAdminStyles();

            Html.RenderSharedScripts();
        }
        <script type="text/javascript">
            $(document).ready(function () {
                ObjectTreeViewerRegistrator.registerHandlers();
            });
            @RenderSection("Scripts")

        </script>
    </head>
    <body class="adminTools subform" subform="page">
        @RenderBody()
    </body>
</html>