@model SKBKontur.Catalogue.RemoteTaskQueue.Front.Models.Default.DefaultModel
<!doctype html>
<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-type" />
        <title>Debug</title>
        <style type="text/css">
            #content {
                padding: 20px;
                text-align: center;
                font-family: Consolas;
            }

            #content h1 { font-size: 20px; }

            #content .link { margin: 10px; }
        </style>
    </head>
    <body>
        <div id="content">
            <h1>RemoteTaskQueue.TestingFront</h1>
            <div class="link">
                @Html.ActionLink("Main page", "Run", "RemoteTaskQueue")
            </div>
            <div class="link">
                @Html.ActionLink("Fullscreen count", "FullScreenTaskCountFast", "RemoteTaskQueue")
            </div>
        </div>
    </body>
</html>