@using SKBKontur.Catalogue.RemoteTaskQueue.Front.Models.Default
@model DefaultModel
@{
    Layout = "~/Blocks/StartPage/StartPage.cshtml";
}
@section Title{
    Debug
}
@section Statics {}
@section Layers {}


<div style="padding: 50px 0 0; color: #333; text-align: center; font-size: 16px;">
    <h1 style="margin-bottom: 20px; font-size: 22px;">RemoteTaskQueue.TestingFront</h1>
    <div>
        <a href="@Url.Action("Run", "Enter", new {area = "Login", authenticatorType = "local", backUrl = @Model.BackUrl})" style="color: #333 !important; border-bottom: 1px solid #333; text-decoration: none;">Login</a>
    </div>
</div>
