@using SKBKontur.Catalogue.RemoteTaskQueue.TaskMonitoringViewer.Models.TaskDetails.TaskData
@model ObjectTaskDataModel
<table class="remoteTaskQueueMonitoring__object">
    @{
        foreach(var property in Model.Properties)
        {
            var rowClass = "";
            var canHideClass = "";
            if(property.Value is ObjectTaskDataModel)
            {
                canHideClass = "canHide";
                rowClass = property.Hidden ? "hideValue" : "";
            }
            <tr class="remoteTaskQueueMonitoring__property @rowClass">
                <td class="remoteTaskQueueMonitoring__property__name @canHideClass">@property.Name</td>
                <td class="remoteTaskQueueMonitoring__property__value">@property.Value.Render(Html)</td>
                <td class="propertyHiddenValue"><i>Значение скрыто</i></td>
            </tr>
        }
    }
</table>